<section data-ng-controller="BulkNeedleChangeEntriesController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>New Bulk Needle Change Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/bulk-needle-change-entries">BulkNeedleChangeEntry</a>
          </li>
          <li class="active">
            <strong>New Bulk Needle Change Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="create()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="machineCode">Machine Code</label>
                <div class="controls">
                  <input type="Text" data-ng-model="machineCode" id="machineCode" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="machineMake">Machine Make</label>
                <div class="controls">
                  <input type="Text" data-ng-model="machineMake" id="machineMake" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dia">DIA</label>
                <div class="controls">
                  <input type="Text" data-ng-model="dia" id="dia" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="mark">Mark</label>
                <div class="controls">
                  <input type="Text" data-ng-model="mark" id="mark" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="lastBulkNeedlechanged">Last Bulk Needlechanged</label>
                <div class="controls">
                  <input type="Date" data-ng-model="lastBulkNeedlechanged" id="lastBulkNeedlechanged" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="allowedKgs">Allowed Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="allowedKgs" id="allowedKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="remarks">Remarks</label>
                <div class="controls">
                  <input type="Text" data-ng-model="remarks" id="remarks" class="form-control" placeholder="" required />
                </div>
              </div>    
                 
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>