<section data-ng-controller="InwardEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Item Inward Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/inward-entries">InwardEntry</a>
          </li>
          <li class="active">
            <strong>View Item Inward Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == inwardentry.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/inward-entries/{{inwardentry._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Received From </dt><dd>{{ inwardentry.receivedFrom }}</dd>
              
            
                
                 <dt>Grnno </dt><dd>{{ inwardentry.grnno }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ inwardentry.date | date }}</dd>
              
            
                
                 <dt>Delivery Challan No </dt><dd>{{ inwardentry.deliveryChallanNo }}</dd>
              
            
                
                 <dt>S No </dt><dd>{{ inwardentry.sNo }}</dd>
              
            
                
                 <dt>Nameofthe Item </dt><dd>{{ inwardentry.nameoftheItem }}</dd>
              
            
                
                 <dt>Uom </dt><dd>{{ inwardentry.uom }}</dd>
              
            
                
                 <dt>Rate </dt><dd>{{ inwardentry.rate }}</dd>
              
            
                
                 <dt>Received </dt><dd>{{ inwardentry.received }}</dd>
              
            
                
                 <dt>Job No </dt><dd>{{ inwardentry.jobNo }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
