<section data-ng-controller="RollQualityControlEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Roll Quality Control Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/roll-quality-control-entries">RollQualityControlEntry</a>
          </li>
          <li class="active">
            <strong>Modify Roll Quality Control Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="rollqualitycontrolentry.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="shift">Shift</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.shift" id="shift" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="machineNo">Machine No</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.machineNo" id="machineNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dia">Dia</label>
                <div class="controls">
                  <input type="Number" data-ng-model="rollqualitycontrolentry.dia" id="dia" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="make">Make</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.make" id="make" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="rollqualitycontrolentry.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="fabric">Fabric</label>
                <div class="controls">
                  <input type="Text" data-ng-model="rollqualitycontrolentry.fabric" id="fabric" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>