<section data-ng-controller="EmployeeMastersController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>New Employee Master</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/employee-masters">EmployeeMaster</a>
          </li>
          <li class="active">
            <strong>New Employee Master</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="create()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="code">Code</label>
                <div class="controls">
                  <input type="Text" data-ng-model="code" id="code" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="name" id="name" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                  <input type="Text" data-ng-model="address" id="address" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="basicPay">Basic Pay</label>
                <div class="controls">
                  <input type="Number" data-ng-model="basicPay" id="basicPay" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="pfbasic">P.F Basic</label>
                <div class="controls">
                  <input type="Number" data-ng-model="pfbasic" id="pfbasic" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="da">Dearness Allowance</label>
                <div class="controls">
                  <input type="Number" data-ng-model="da" id="da" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="travelAllowance">Travel Allowance</label>
                <div class="controls">
                  <input type="Number" data-ng-model="travelAllowance" id="travelAllowance" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="teaAllowance">Tea Allowance</label>
                <div class="controls">
                  <input type="Number" data-ng-model="teaAllowance" id="teaAllowance" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sundayAllowance">Sunday Allowance</label>
                <div class="controls">
                  <input type="Number" data-ng-model="sundayAllowance" id="sundayAllowance" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="pf">PF</label>
                <div class="controls">
                  <input type="Number" data-ng-model="pf" id="pf" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="esi">ESI</label>
                <div class="controls">
                  <input type="Number" data-ng-model="esi" id="esi" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="leaveWage">Leave Wage</label>
                <div class="controls">
                  <input type="Number" data-ng-model="leaveWage" id="leaveWage" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="pieceshiftweek">Piece/Shift/Week</label>
                <div class="controls">
                  <input type="Number" data-ng-model="pieceShiftWeek" id="pieceshiftweek" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="joiningDate">Joining Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="joiningDate" id="joiningDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="resignDate">Resign Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="resignDate" id="resignDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="addlwagepershift">Additional Wage Per Shift</label>
                <div class="controls">
                  <input type="Number" data-ng-model="addlWagePerShift" id="addlwagepershift" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="allowancePerShift">Allowance Per Shift</label>
                <div class="controls">
                  <input type="Number" data-ng-model="allowancePerShift" id="allowancePerShift" class="form-control" placeholder="" required />
                </div>
              </div>    
                 
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>