<section data-ng-controller="FabricSalesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Fabric Sales</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/fabric-sales">FabricSale</a>
          </li>
          <li class="active">
            <strong>Modify Fabric Sales</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="invoiceNo">Invoice No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.invoiceNo" id="invoiceNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="fabricsale.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsale.knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsale.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partyRef">Party Ref</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsale.partyRef" id="partyRef" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="fabric">Fabric</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsale.fabric" id="fabric" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="count">Count</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsale.count" id="count" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="gsm">GSM</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.gsm" id="gsm" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dia">DIA</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.dia" id="dia" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rolls">Rolls</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.rolls" id="rolls" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="kgs">Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.kgs" id="kgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rate">Rate</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.rate" id="rate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rateperunit">Rate/Unit</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsale.ratePerUnit" id="rateperunit" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>