<section data-ng-controller="FabricSalesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Fabric Sales</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/fabric-sales">FabricSale</a>
          </li>
          <li class="active">
            <strong>View Fabric Sales</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == fabricsale.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/fabric-sales/{{fabricsale._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Invoice No </dt><dd>{{ fabricsale.invoiceNo }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ fabricsale.date | date }}</dd>
              
            
                
                 <dt>Knitter </dt><dd>{{ fabricsale.knitter }}</dd>
              
            
                
                 <dt>Party </dt><dd>{{ fabricsale.party }}</dd>
              
            
                
                 <dt>Party Reference </dt><dd>{{ fabricsale.partyReference }}</dd>
              
            
                
                 <dt>S No </dt><dd>{{ fabricsale.sNo }}</dd>
              
            
                
                 <dt>Fabric </dt><dd>{{ fabricsale.fabric }}</dd>
              
            
                
                 <dt>Count </dt><dd>{{ fabricsale.count }}</dd>
              
            
                
                 <dt>GSM </dt><dd>{{ fabricsale.gsm }}</dd>
              
            
                
                 <dt>DIA </dt><dd>{{ fabricsale.dia }}</dd>
              
            
                
                 <dt>Rolls </dt><dd>{{ fabricsale.rolls }}</dd>
              
            
                
                 <dt>Kgs </dt><dd>{{ fabricsale.kgs }}</dd>
              
            
                
                 <dt>Rate </dt><dd>{{ fabricsale.rate }}</dd>
              
            
                
                 <dt>Rate/Unit </dt><dd>{{ fabricsale.ratePerUnit }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
