<section data-ng-controller="FabricSaleRegistersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Fabric Sales Register</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/fabric-sale-registers">FabricSaleRegister</a>
          </li>
          <li class="active">
            <strong>Modify Fabric Sales Register</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="invoiceNo">Invoice No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.invoiceNo" id="invoiceNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="fabricsaleregister.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsaleregister.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partyReference">Party Reference</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsaleregister.partyReference" id="partyReference" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="fabric">Fabric</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsaleregister.fabric" id="fabric" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="count">Count</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabricsaleregister.count" id="count" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="gsm">Gsm</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.gsm" id="gsm" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dia">Dia</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.dia" id="dia" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rolls">Rolls</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.rolls" id="rolls" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="kgs">Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.kgs" id="kgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rate">Rate</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.rate" id="rate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="amount">Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabricsaleregister.amount" id="amount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>