<section data-ng-controller="InvoiceEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Invoice Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/invoice-entries">InvoiceEntry</a>
          </li>
          <li class="active">
            <strong>Modify Invoice Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="invoiceNo">Invoice No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.invoiceNo" id="invoiceNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="invoiceentry.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partyReference">Party Reference</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.partyReference" id="partyReference" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="ourDcno">Our Dcno</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.ourDcno" id="ourDcno" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="preparedBy">Prepared By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.preparedBy" id="preparedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="verifiedBy">Verified By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.verifiedBy" id="verifiedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="authorisedBy">Authorised By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.authorisedBy" id="authorisedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="descriptionofGoods">Descriptionof Goods</label>
                <div class="controls">
                  <input type="Text" data-ng-model="invoiceentry.descriptionofGoods" id="descriptionofGoods" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rolls">Rolls</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.rolls" id="rolls" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="quantityInKgs">Quantity In Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.quantityInKgs" id="quantityInKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="ratePerUnit">Rate Per Unit</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.ratePerUnit" id="ratePerUnit" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="amount">Amount</label>
                <div class="controls">
                  <input type="Number" data-ng-model="invoiceentry.amount" id="amount" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>