<section data-ng-controller="ProductionParametersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Production Parameter</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/production-parameters">ProductionParameter</a>
          </li>
          <li class="active">
            <strong>View Production Parameter</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == productionparameter.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/production-parameters/{{productionparameter._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Job No </dt><dd>{{ productionparameter.jobNo }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ productionparameter.date | date }}</dd>
              
            
                
                 <dt>Party </dt><dd>{{ productionparameter.party }}</dd>
              
            
                
                 <dt>Sno </dt><dd>{{ productionparameter.sno }}</dd>
              
            
                
                 <dt>Design </dt><dd>{{ productionparameter.design }}</dd>
              
            
                
                 <dt>Colour </dt><dd>{{ productionparameter.colour }}</dd>
              
            
                
                 <dt>Rate </dt><dd>{{ productionparameter.rate }}</dd>
              
            
                
                 <dt>Texture </dt><dd>{{ productionparameter.texture }}</dd>
              
            
                
                 <dt>Gsm </dt><dd>{{ productionparameter.gsm }}</dd>
              
            
                
                 <dt>L Length </dt><dd>{{ productionparameter.lLength }}</dd>
              
            
                
                 <dt>G G </dt><dd>{{ productionparameter.gG }}</dd>
              
            
                
                 <dt>Mill </dt><dd>{{ productionparameter.mill }}</dd>
              
            
                
                 <dt>Count </dt><dd>{{ productionparameter.count }}</dd>
              
            
                
                 <dt>Dia </dt><dd>{{ productionparameter.dia }}</dd>
              
            
                
                 <dt>Programme Qty </dt><dd>{{ productionparameter.programmeQty }}</dd>
              
            
                
                 <dt>Average Production Per Hour </dt><dd>{{ productionparameter.averageProductionPerHour }}</dd>
              
            
                
                 <dt>Rpm </dt><dd>{{ productionparameter.rpm }}</dd>
              
            
                
                 <dt>Counting </dt><dd>{{ productionparameter.counting }}</dd>
              
            
                
                 <dt>Feeder </dt><dd>{{ productionparameter.feeder }}</dd>
              
            
                
                 <dt>Roll Weight </dt><dd>{{ productionparameter.rollWeight }}</dd>
              
            
                
                 <dt>Remarks </dt><dd>{{ productionparameter.remarks }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
