<section data-ng-controller="YarnReceiptEntriesController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>New Yarn Receipt Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/yarn-receipt-entries">YarnReceiptEntry</a>
          </li>
          <li class="active">
            <strong>New Yarn Receipt Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="create()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobDate">Job Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="jobDate" id="jobDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="expectedDeliveryDate">Expected Delivery Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="order">Order</label>
                <div class="controls">
                  <input type="Text" data-ng-model="order" id="order" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sample">Sample</label>
                <div class="controls">
                  <input type="Text" data-ng-model="sample" id="sample" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="orderNo">Order No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="orderNo" id="orderNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="marketingBy">Marketing By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="marketingBy" id="marketingBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="design">Design</label>
                <div class="controls">
                  <input type="Text" data-ng-model="design" id="design" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="colour">Colour</label>
                <div class="controls">
                  <input type="Text" data-ng-model="colour" id="colour" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rate">Rate</label>
                <div class="controls">
                  <input type="Number" data-ng-model="rate" id="rate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partydeliverychalanno">Party D.C No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="partyDeliveryChalanNo" id="partydeliverychalanno" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="receivedVehicleNo">Received Vehicle No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="receivedVehicleNo" id="receivedVehicleNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="remarks">Remarks</label>
                <div class="controls">
                  <input type="Text" data-ng-model="remarks" id="remarks" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="receivedBy">Received By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="receivedBy" id="receivedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="preparedBy">Prepared By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="preparedBy" id="preparedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="authorisedBy">Authorised By</label>
                <div class="controls">
                  <input type="Text" data-ng-model="authorisedBy" id="authorisedBy" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="yarnDescription">Yarn Description</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnDescription" id="yarnDescription" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="cones">Cones</label>
                <div class="controls">
                  <input type="Number" data-ng-model="cones" id="cones" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="bags">Bags</label>
                <div class="controls">
                  <input type="Number" data-ng-model="bags" id="bags" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="netKgs">Net Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="netKgs" id="netKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="grossKgs">Gross Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="grossKgs" id="grossKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
                 
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>