<section data-ng-controller="StoppagesEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Stoppages Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/stoppages-entries">StoppagesEntry</a>
          </li>
          <li class="active">
            <strong>View Stoppages Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == stoppagesentry.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/stoppages-entries/{{stoppagesentry._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
              
                 <dt>Date </dt><dd>{{ stoppagesentry.date | date }}</dd>
              
            
                
                 <dt>Shift </dt><dd>{{ stoppagesentry.shift }}</dd>
              
            
                
                 <dt>Machine Code </dt><dd>{{ stoppagesentry.machineCode }}</dd>
              
            
                
                 <dt>Stoppage Reason </dt><dd>{{ stoppagesentry.stoppageReason }}</dd>
              
            
                
                 <dt>Stop In Minutes </dt><dd>{{ stoppagesentry.stopInMinutes }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
