<section data-ng-controller="PartyMastersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Party Master</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/party-masters">PartyMaster</a>
          </li>
          <li class="active">
            <strong>View Party Master</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == partymaster.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/party-masters/{{partymaster._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Code </dt><dd>{{ partymaster.code }}</dd>
              
            
                
                 <dt>Name Of the Company </dt><dd>{{ partymaster.nameoftheCompany }}</dd>
              
            
                
                 <dt>Address </dt><dd>{{ partymaster.address }}</dd>
              
            
                
                 <dt>Contact Person </dt><dd>{{ partymaster.contactPerson }}</dd>
              
            
                
                 <dt>Phone No </dt><dd>{{ partymaster.phoneNo }}</dd>
              
            
                
                 <dt>TIN </dt><dd>{{ partymaster.tin }}</dd>
              
            
                
                 <dt>CST </dt><dd>{{ partymaster.cst }}</dd>
              
            
                
                 <dt>PAN </dt><dd>{{ partymaster.pan }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
