<section data-ng-controller="YarnReturnEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Yarn Return Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/yarn-return-entries">YarnReturnEntry</a>
          </li>
          <li class="active">
            <strong>Modify Yarn Return Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returndeliverychalanno">Return D.C No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.returnDeliveryChalanNo" id="returndeliverychalanno" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returndeliverychalandate">Return D.C Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="yarnreturnentry.returnDeliveryChalanDate" id="returndeliverychalandate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobDate">Job Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="yarnreturnentry.jobDate" id="jobDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnreturnentry.knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnreturnentry.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="partydeliverychalanno">Party D.C No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.partyDeliveryChalanNo" id="partydeliverychalanno" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="yarnreturnentry.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="vehicleNo">Vehicle No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.vehicleNo" id="vehicleNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="remarks">Remarks</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnreturnentry.remarks" id="remarks" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="mistakeClotheKgs">Mistake Clothe Kgs</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnreturnentry.mistakeClotheKgs" id="mistakeClotheKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="yarnDescription">Yarn Description</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarnreturnentry.yarnDescription" id="yarnDescription" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="receivedBags">Received Bags</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.receivedBags" id="receivedBags" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="receivedWeightKgs">Received Weight Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.receivedWeightKgs" id="receivedWeightKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returnCones">Return Cones</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.returnCones" id="returnCones" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returnBags">Return Bags</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.returnBags" id="returnBags" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returnKgsNet">Return Kgs Net</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.returnKgsNet" id="returnKgsNet" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="returnKgsGross">Return Kgs Gross</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarnreturnentry.returnKgsGross" id="returnKgsGross" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>