<section data-ng-controller="ShiftEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Shift Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/shift-entries">ShiftEntry</a>
          </li>
          <li class="active">
            <strong>Modify Shift Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="shiftentry.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="shift">Shift</label>
                <div class="controls">
                  <input type="Text" data-ng-model="shiftentry.shift" id="shift" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="code">Code</label>
                <div class="controls">
                  <input type="Text" data-ng-model="shiftentry.code" id="code" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="employeeName">Employee Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="shiftentry.employeeName" id="employeeName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="numberOfShifts">Number Of Shifts</label>
                <div class="controls">
                  <input type="Number" data-ng-model="shiftentry.numberOfShifts" id="numberOfShifts" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="overTimeHours">Over Time Hours</label>
                <div class="controls">
                  <input type="Number" data-ng-model="shiftentry.overTimeHours" id="overTimeHours" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>