<section data-ng-controller="FormJjsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Form JJ</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/form-jjs">FormJj</a>
          </li>
          <li class="active">
            <strong>View Form JJ</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == formjj.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/form-jjs/{{formjj._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>S No </dt><dd>{{ formjj.sNo }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ formjj.date | date }}</dd>
              
            
                
                 <dt>Party </dt><dd>{{ formjj.party }}</dd>
              
            
                
                 <dt>Concern </dt><dd>{{ formjj.concern }}</dd>
              
            
                
                 <dt>Place </dt><dd>{{ formjj.place }}</dd>
              
            
                
                 <dt>Attn </dt><dd>{{ formjj.attn }}</dd>
              
            
                
                 <dt>Quantity Of Weight </dt><dd>{{ formjj.quantityOfWeight }}</dd>
              
            
                
                 <dt>Value Of Goods </dt><dd>{{ formjj.valueOfGoods }}</dd>
              
            
                
                 <dt>Remarks </dt><dd>{{ formjj.remarks }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
