<section data-ng-controller="GeneralItemOutwardEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View General Item Outward Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/general-item-outward-entries">GeneralItemOutwardEntry</a>
          </li>
          <li class="active">
            <strong>View General Item Outward Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == generalitemoutwardentry.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/general-item-outward-entries/{{generalitemoutwardentry._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Delivery Chalan No </dt><dd>{{ generalitemoutwardentry.deliveryChalanNo }}</dd>
              
            
                
                 <dt>Delivery Chalan Year </dt><dd>{{ generalitemoutwardentry.deliveryChalanYear }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ generalitemoutwardentry.date | date }}</dd>
              
            
                
                 <dt>Delivery To </dt><dd>{{ generalitemoutwardentry.deliveryTo }}</dd>
              
            
                
                 <dt>S No </dt><dd>{{ generalitemoutwardentry.sNo }}</dd>
              
            
                
                 <dt>Nameofthe Item </dt><dd>{{ generalitemoutwardentry.nameoftheItem }}</dd>
              
            
                
                 <dt>U Om </dt><dd>{{ generalitemoutwardentry.uOm }}</dd>
              
            
                
                 <dt>Quantity </dt><dd>{{ generalitemoutwardentry.quantity }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
