<section data-ng-controller="BsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Bs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="b in bs" data-ng-href="#!/bs/{{b._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="b.created | date:'medium'"></span>
				by
				<span data-ng-bind="b.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="b.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!bs.$resolved || bs.length">
    	No Bs yet, why don't you <a href="/#!/bs/create">create one</a>?
    </div>
</section>