<section data-ng-controller="FabricTransfersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Fabric Transfer</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/fabric-transfers">FabricTransfer</a>
          </li>
          <li class="active">
            <strong>Modify Fabric Transfer</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="transferNo">Transfer No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.transferNo" id="transferNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="fabrictransfer.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabrictransfer.knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabrictransfer.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="fabric">Fabric</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fabrictransfer.fabric" id="fabric" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="gsm">Gsm</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.gsm" id="gsm" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="kgs">Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.kgs" id="kgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dia">Dia</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.dia" id="dia" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="stockRolls">Stock Rolls</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.stockRolls" id="stockRolls" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="stockKgs">Stock Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.stockKgs" id="stockKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="transferRolls">Transfer Rolls</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.transferRolls" id="transferRolls" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="transferKgs">Transfer Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="fabrictransfer.transferKgs" id="transferKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>