<section data-ng-controller="GeneralInvoiceRegistersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View General Invoice Register</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/general-invoice-registers">GeneralInvoiceRegister</a>
          </li>
          <li class="active">
            <strong>View General Invoice Register</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == generalinvoiceregister.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/general-invoice-registers/{{generalinvoiceregister._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Invoice No </dt><dd>{{ generalinvoiceregister.invoiceNo }}</dd>
              
            
              
                 <dt>Date </dt><dd>{{ generalinvoiceregister.date | date }}</dd>
              
            
                
                 <dt>Party </dt><dd>{{ generalinvoiceregister.party }}</dd>
              
            
                
                 <dt>Amount </dt><dd>{{ generalinvoiceregister.amount }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
