<section data-ng-controller="DirectOutwardEntriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Direct Outward Entry</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/direct-outward-entries">DirectOutwardEntry</a>
          </li>
          <li class="active">
            <strong>Modify Direct Outward Entry</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="deliveryChalanNo">Delivery Chalan No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.deliveryChalanNo" id="deliveryChalanNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="deliveryChalanYear">Delivery Chalan Year</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.deliveryChalanYear" id="deliveryChalanYear" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="date">Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="directoutwardentry.date" id="date" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="ourGrnno">Our Grnno</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.ourGrnno" id="ourGrnno" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="inwardFrom">Inward From</label>
                <div class="controls">
                  <input type="Text" data-ng-model="directoutwardentry.inwardFrom" id="inwardFrom" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="nameoftheItem">Nameofthe Item</label>
                <div class="controls">
                  <input type="Text" data-ng-model="directoutwardentry.nameoftheItem" id="nameoftheItem" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="uOm">U Om</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.uOm" id="uOm" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="quantity">Quantity</label>
                <div class="controls">
                  <input type="Number" data-ng-model="directoutwardentry.quantity" id="quantity" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>