<section data-ng-controller="YarnDeliveriesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Modify Yarn Delivery</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/yarn-deliveries">YarnDelivery</a>
          </li>
          <li class="active">
            <strong>Modify Yarn Delivery</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dCNo">D Cno</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.dCNo" id="dCNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dCDate">D Cdate</label>
                <div class="controls">
                  <input type="Date" data-ng-model="yarndelivery.dCDate" id="dCDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="party">Party</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.party" id="party" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobNo">Job No</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.jobNo" id="jobNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="jobDate">Job Date</label>
                <div class="controls">
                  <input type="Date" data-ng-model="yarndelivery.jobDate" id="jobDate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="knitter">Knitter</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.knitter" id="knitter" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="sNo">S No</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.sNo" id="sNo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="description">Description</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.description" id="description" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="colour">Colour</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.colour" id="colour" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="code">Code</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.code" id="code" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="rate">Rate</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.rate" id="rate" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="gSM">G Sm</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.gSM" id="gSM" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="lLength">L Length</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.lLength" id="lLength" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="gG">G G</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.gG" id="gG" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="mill">Mill</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.mill" id="mill" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="count">Count</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.count" id="count" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dIA">D Ia</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.dIA" id="dIA" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="programmeKgs">Programme Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.programmeKgs" id="programmeKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="requiredKgs">Required Kgs</label>
                <div class="controls">
                  <input type="Number" data-ng-model="yarndelivery.requiredKgs" id="requiredKgs" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="remarks">Remarks</label>
                <div class="controls">
                  <input type="Text" data-ng-model="yarndelivery.remarks" id="remarks" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>